#!/bin/sh
#
# $service_name Slim Mail Transfer Agent
#
# chkconfig:   2345 20 80
# description: Serves as a mail transfer agent for the system based on \
#              the configuration in place.

# Source function library.
. /etc/rc.d/init.d/functions

# Process name ( For display )
NAME=$service_name
# Daemon name, where is the actual executable
DAEMON=$service_daemon
# pid file for the daemon
PIDFILE=$service_pidfile
# Config file for the process
CONFIGFILE=$service_config

start() {
    [ -x $DAEMON ] || exit 5
    [ -f $CONFIGFILE ] || exit 6
    echo -n $"Starting $NAME: "
    daemon $DAEMON --daemon --config $CONFIGFILE --pid-file $PIDFILE
    retval=$?
    echo
    return $retval
}

stop() {
    echo -n $"Stopping $NAME: "
    killproc $DAEMON
    retval=$?
    echo
    [ $retval -eq 0 ] && rm -f $PIDFILE
    return $retval
}

restart() {
    stop
    start
}

reload() {
    restart
}

force_reload() {
    restart
}

rh_status() {
    # run checks to determine if the service is running or use generic status
    status $DAEMON
}

rh_status_q() {
    rh_status >/dev/null 2>&1
}


case "$1" in
    start)
        rh_status_q && exit 0
        $1
        ;;
    stop)
        rh_status_q || exit 0
        $1
        ;;
    restart)
        $1
        ;;
    reload)
        rh_status_q || exit 7
        $1
        ;;
    force-reload)
        force_reload
        ;;
    status)
        rh_status
        ;;
    condrestart|try-restart)
        rh_status_q || exit 0
        restart
        ;;
    *)
        echo $"Usage: $0 {start|stop|status|restart|condrestart|try-restart|reload|force-reload}"
        exit 2
esac
exit $?

# vim:sw=4:ts=4:sts=4:et:ai:ft=sh:
