[Unit]
Description = Slim Mail Transfer Agent

[Service]
Type = forking
PIDFile = $service_pidfile
ExecStart = $service_daemon --daemon \
 --config $service_config \
 --pid-file $service_pidfile
ExecReload = /bin/kill -HUP $MAINPID

[Install]
WantedBy = multi-user.target
