
process:
  slimta:
    daemon: false
    logging: !include logging.yaml.sample

edge:
  inbound:
    type: smtp
    queue: inbound
    listener:
      interface: 127.0.0.1
      port: 1025
    rules: 
      banner: '{fqdn} ESMTP example.com Mail Delivery Agent'
      dnsbl: zen.spamhaus.org
      only_recipients:
        - postmaster@example.com
        - abuse@example.com

  outbound:
    type: smtp
    queue: outbound
    listener:
      interface: 127.0.0.1
      port: 1587
    rules:
      banner: '{fqdn} ESMTP example.com Mail Submission Agent'
      dnsbl: zen.spamhaus.org
      require_credentials:
        user@example.com: xxxxxxxx

queue:
  inbound:
    type: memory
    relay: inbound
    policies:
      - {type: add_date_header}
      - {type: add_messageid_header}
      - {type: add_received_header}

  outbound:
    type: memory
    relay: outbound
    policies:
      - {type: add_date_header}
      - {type: add_messageid_header}
      - {type: add_received_header}
      - {type: recipient_domain_split}
    retry:
      maximum: 3
      delay: 30*x

relay:
  inbound:
    type: blackhole

  outbound:
    type: blackhole

# vim:sw=2:ts=2:sts=2:et:ai:ft=yaml:
