
inbound: {
  banner: '{fqdn} ESMTP example.com Mail Delivery Agent'
  dnsbl: 'zen.spamhaus.org'
  only_recipients: [
    'postmaster@example.com'
    'abuse@example.com'
  ]
}

outbound: {
  banner: '{fqdn} ESMTP example.com Mail Submission Agent'
  dnsbl: 'zen.spamhaus.org'
  require_credentials: {
    'user@example.com': 'xxxxxxxx'
  }
}

# vim:sw=2:ts=2:sts=2:et:ai:
