
process: {
  slimta: {
    daemon: True
    user: slimta
    group: slimta
    stdout: '/dev/null'
    stderr: '/dev/null'
  }

  worker: {
    daemon: True
    stdout: '/dev/null'
    stderr: '/dev/null'
  }
}

tls: {
  main: {
    certfile: '/home/slimta/cert.pem'
    keyfile: '/home/slimta/cert.pem'
  }
}

celery_app: {
  BROKER_URL: 'redis://localhost/0'
  BACKEND_URL: 'redis://localhost/0'
}

rules: @"rules.conf.sample"

edge: {
  inbound: {
    type: smtp
    queue: inbound
    listener: {
      interface: '127.0.0.1'
      port: 1025
    }
    tls: $tls.main
    rules: $rules.inbound
  }

  inbound_ssl: {
    type: smtp
    queue: inbound
    listener: {
      interface: '127.0.0.1'
      port: 1465
    }
    tls: $tls.main
    tls_immediately: True
    rules: $rules.inbound
  }
  
  outbound: {
    type: smtp
    queue: outbound
    listener: {
      interface: '127.0.0.1'
      port: 1587
    }
    tls: $tls.main
    rules: $rules.outbound
  }
}

queue: {
  inbound: {
    type: celery
    relay: inbound
    policies: [
      {type: add_date_header}
      {type: add_messageid_header}
      {type: add_received_header}
      {type: spamassassin}
    ]
  }

  outbound: {
    type: celery
    relay: outbound
    policies: [
      {type: add_date_header}
      {type: add_messageid_header}
      {type: add_received_header}
      {type: recipient_domain_split}
    ]
    retry: {
      maximum: 3
      delay: '30*x'
    }
  }
}

relay: {
  inbound: {
    type: maildrop
  }

  outbound: {
    type: mx
    tls: $tls.main
  }
}

# vim:sw=2:ts=2:sts=2:et:ai:
